@* @model IEnumerable<Medicamento> *@

@{
    ViewData["Title"] = "Relatorio de Medicamentos";
}

<div class="row">
  <div class="container mt-3">
    <nav aria-label="breadcrumb d-flex text-start">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teste</li>
      </ol>
    </nav>
  </div>

  @{await Html.RenderPartialAsync("_AlertPartial");}

  <div class="container mb-2 text-center">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="table-responsive">
    <table class="table table-hover padronizacao-insumos" id="Medicamentos">
      <thead>
        <tr>
          <th>TISS</th>
          <th>Nome (Princ. Ativo)</th>
          <th>Laboratório</th>
          <th>Apresentação</th>
          <th>R$ Alldux</th>
        </tr>
      </thead>
      <tbody>
        @* @foreach (var item in Model)
        {
          @foreach (var variacao in item.Variacoes)
          {     
          <tr onclick="window.location='/Medicamentos/Editar/@item.Id.ToString()'">
            <td>@variacao.TISS</td>
            <td>@item.PrincipioAtivo</td>
            <td>@variacao.Nome</td>
            <td>@variacao.Laboratorio</td>
            <td>@variacao.UnApresentacao @variacao.UnApresentacaoTipo / @variacao.UnMedida @variacao.UnMedidaTipo</td>
          </tr>
          }
        } *@
      </tbody>
    
    </table>
    </div>

  </div><!-- /conteudo -->
</div><!-- row -->